
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Delici - Restaurants HTML Template - About Us</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]--> 

</head>

<body>
  <div class="page-wrapper"> 
  
    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="D" class="letters-loading">
                            D
                        </span>
                        <span data-text-preloader="E" class="letters-loading">
                            E
                        </span>
                        <span data-text-preloader="L" class="letters-loading">
                            L
                        </span>
                        <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                        <span data-text-preloader="C" class="letters-loading">
                            C
                        </span>
                        <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Header-->
    <header class="main-header">
        <div class="header-top">
            <div class="auto-container">
                <div class="inner clearfix">
                    <div class="top-left clearfix">
                        <ul class="top-info clearfix">
                            <li><i class="icon far fa-map-marker-alt"></i> Restaurant St, Delicious City, London 9578, UK</li>
                            <li><i class="icon far fa-clock"></i> Daily : 8.00 am to 10.00 pm</li>
                        </ul>
                    </div>
                    <div class="top-right clearfix">
                        <ul class="top-info clearfix">
                            <li><a href="tel:+11234567890"><i class="icon far fa-phone"></i> +1 123 456 7890</a></li>
                            <li><a href="mailto:booking@restaurant.com"><i class="icon far fa-envelope"></i> booking@restaurant.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Upper -->
        <div class="header-upper">        
            <div class="auto-container">
                <!-- Main Box -->
                <div class="main-box clearfix">
                    <!--Logo-->
                    <div class="logo-box">
                         <div class="logo"><a href="index.html" title="Delici - Restaurants HTML Template"><img src="images/logo.png" alt="" title="Delici - Restaurants HTML Template"></a></div>
                    </div>

                    <div class="nav-box clearfix">
                        <!--Nav Outer-->
                        <div class="nav-outer clearfix">         
                            <nav class="main-menu">
                                <ul class="navigation clearfix">
                                    <li class=""><a href="index.html">Home</a>
                                    </li>
                                    <li class="dropdown has-mega-menu"><a href="menu-list.html">Menus</a>
                                        <ul>
                                            <li>
                                                <div class="mega-menu">
                                                    <div class="menu-inner">
                                                        <div class="auto-container">
                                                            <div class="row clearfix">
                                                                <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                    <div class="image"><a href="menu-list-1.html"><img src="images/resource/menu-image-1.jpg" alt=""></a></div>
                                                                    <div class="title"><a href="menu-list-1.html">Menu list 1</a></div>
                                                                </div>
                                                                <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                    <div class="image"><a href="menu-list-2.html"><img src="images/resource/menu-image-2.jpg" alt=""></a></div>
                                                                    <div class="title"><a href="menu-list-2.html">Menu list 2</a></div>
                                                                </div>
                                                                <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                    <div class="image"><a href="menu-list-3.html"><img src="images/resource/menu-image-3.jpg" alt=""></a></div>
                                                                    <div class="title"><a href="menu-list-3.html">Menu list 3</a></div>
                                                                </div>
                                                                <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                    <div class="image"><a href="menu-list-4.html"><img src="images/resource/menu-image-4.jpg" alt=""></a></div>
                                                                    <div class="title"><a href="menu-list-4.html">Menu list 4</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="current"><a href="about.html">About Us</a></li>
                                    <li><a href="our-chef.html">Our chefs</a></li>
                                    <li class="dropdown"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="#">Dropdown Menu 1</a></li>
                                            <li><a href="#">Dropdown Menu 2</a></li>
                                            <li><a href="#">Dropdown Menu 3</a></li>
                                            <li class="dropdown"><a href="#">Dropdown Menu 4</a>
                                                <ul>
                                                    <li><a href="#">Dropdown Menu level 2</a></li>
                                                    <li><a href="#">Dropdown Menu level 2</a></li>
                                                    <li><a href="#">Dropdown Menu Level 3</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Dropdown Lorem 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- Main Menu End-->
                        </div>
                        <!--Nav Outer End-->

                        <div class="links-box clearfix">
                            <div class="link link-btn">
                                <a href="reservation-opentable.html" class="theme-btn btn-style-one clearfix">
                                    <span class="btn-wrap">
                                        <span class="text-one">find a table</span>
                                        <span class="text-two">find a table</span>
                                    </span>
                                </a>
                            </div>
                            <div class="link info-toggler">
                                <button class="info-btn">
                                    <span class="hamburger">
                                        <span class="top-bun"></span>
                                        <span class="meat"></span>
                                        <span class="bottom-bun"></span>
                                    </span>
                                </button>
                            </div>
                        </div>

                        <!-- Hidden Nav Toggler -->
                        <div class="nav-toggler">
                            <button class="hidden-bar-opener">
                                <span class="hamburger">
                                    <span class="top-bun"></span>
                                    <span class="meat"></span>
                                    <span class="bottom-bun"></span>
                                </span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>
    <!--End Main Header -->

    
    <!--Menu Backdrop-->
    <div class="menu-backdrop"></div>

    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar">
        <!-- Hidden Bar Wrapper -->
        <div class="inner-box">
            <div class="cross-icon hidden-bar-closer"><span class="far fa-close"></span></div>
            <div class="logo-box"><a href="index.html" title="Delici - Restaurants HTML Template"><img src="images/resource/sidebar-logo.png" alt="" title="Delici - Restaurants HTML Template"></a></div>
            
            <!-- .Side-menu -->
            <div class="side-menu">
                 <ul class="navigation clearfix">
                    <li class=""><a href="index.html">Home</a>
                    </li>
                    <li class="dropdown"><a href="menu-list.html">Menus</a>
                        <ul>
                            <li><a href="menu-list-1.html">Menu List 1</a></li>
                            <li><a href="menu-list-2.html">Menu List 2</a></li>
                            <li><a href="menu-list-3.html">Menu List 3</a></li>
                            <li><a href="menu-list-4.html">Menu List 4</a></li>
                        </ul>
                    </li>
                    <li class="current"><a href="about.html">About Us</a></li>
                    <li><a href="our-chef.html">Our chefs</a></li>
                    <li class="dropdown"><a href="#">Pages</a>
                        <ul>
                            <li><a href="#">Dropdown Menu 1</a></li>
                            <li><a href="#">Dropdown Menu 2</a></li>
                            <li><a href="#">Dropdown Menu 3</a></li>
                            <li class="dropdown"><a href="#">Dropdown Menu 4</a>
                                <ul>
                                    <li><a href="#">Dropdown Menu level 2</a></li>
                                    <li><a href="#">Dropdown Menu level 2</a></li>
                                    <li><a href="#">Dropdown Menu Level 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown Lorem 5</a></li>
                        </ul>
                    </li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
            </div><!-- /.Side-menu -->
            
            <h2>Visit Us</h2>
            <ul class="info">
                <li>Restaurant St, Delicious City, <br>London 9578, UK</li>
                <li>Open: 9.30 am - 2.30pm</li>
                <li><a href="mailto:booking@domainame.com">booking@domainame.com</a></li>
            </ul>
            <div class="separator"><span></span></div>
            <div class="booking-info">
                <div class="bk-title">Booking request</div>
                <div class="bk-no"><a href="tel:+88-123-123456">+88-123-123456</a></div>
            </div>
        
        </div><!-- / Hidden Bar Wrapper -->
    </section>
    <!-- / Hidden Bar -->

    <!--Info Back Drop-->
    <div class="info-back-drop"></div>
    
    <!-- Hidden Bar -->
    <section class="info-bar">
        <div class="inner-box">
            <div class="cross-icon"><span class="far fa-close"></span></div>
            <div class="logo-box"><a href="index.html" title="Delici - Restaurants HTML Template"><img src="images/resource/sidebar-logo.png" alt="" title="Delici - Restaurants HTML Template"></a></div>
            <div class="image-box"><img src="images/resource/sidebar-image.jpg" alt="" title=""></div>

            <h2>Visit Us</h2>
            <ul class="info">
                <li>Restaurant St, Delicious City, <br>London 9578, UK</li>
                <li>Open: 9.30 am - 2.30pm</li>
                <li><a href="mailto:booking@domainame.com">booking@domainame.com</a></li>
            </ul>
            <div class="separator"><span></span></div>
            <div class="booking-info">
                <div class="bk-title">Booking request</div>
                <div class="bk-no"><a href="tel:+88-123-123456">+88-123-123456</a></div>
            </div>
        </div>
    </section>
    <!--End Hidden Bar -->

    <!-- Inner Banner Section -->
    <section class="inner-banner">
        <div class="image-layer" style="background-image: url(images/background/banner-image-1.jpg);"></div>
        <div class="auto-container">
            <div class="inner">
                <div class="subtitle"><span>our story</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h1><span>About Us</span></h1>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!--About Section-->
    <section class="about-section">
        <div class="left-bg"><img src="images/background/bg-10.png" alt="" title=""></div>
        <div class="right-bg"><img src="images/background/bg-11.png" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>who we are</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h3>A modern restaurant with a menu that will make your mouth water. Servicing delicious food <span class="theme_color">since 45 years</span>. Enjoy our seasonal menu and experience the beauty of naturalness</h3>
            </div>
            <div class="row clearfix">
                <!--Block-->
                <div class="about-block content-block col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="text">Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived.</div>
                        <div class="signature"><img src="images/resource/signature-1.png" alt="" title=""></div>
                        <div class="author">andrew joe - founder</div>
                        <div class="video-box">
                            <div class="image"><a href="https://www.youtube.com/watch?v=ZETY_l3GVQg" class="lightbox-image"><img src="images/resource/about-image-1.jpg" alt=""></a>
                            <a href="https://www.youtube.com/watch?v=ZETY_l3GVQg" class="lightbox-image play-btn"><span class="icon fal fa-play"><i class="ripple"></i></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="about-block image-block col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <div class="image"><img src="images/resource/about-image-2.jpg" alt=""></div>
                    </div>
                </div>

                <!--Block-->
                <div class="about-block info-block col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                        <ul class="info">
                            <li><strong>Lunch Time</strong>Monday to Sunday <br>11.00 am - 2.30pm</li>
                            <li><strong>Dinner Time</strong>Monday to Sunday <br>5.30 pm - 11.30 pm</li>
                            <li class="separator"><span></span></li>
                            <li><strong>Contact Us</strong><span class="address">Restaurant St, Delicious City, London 9578, UK</span> <a href="tel:+88-123-123456">+88-123-123456</a> <br><a href="mailto:reservation@restro.com">reservation@restro.com</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="fact-counter">
                <div class="row clearfix">
                    <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner clearfix">
                            <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="150" data-speed="2000">0</span><i>+</i></div></div>
                            <div class="fact-title">daily order</div>
                        </div>
                    </div>
                    <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner clearfix">
                            <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="82" data-speed="1500">0</span><i>+</i></div></div>
                            <div class="fact-title">Special Dishes</div>
                        </div>
                    </div>
                    <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner clearfix">
                            <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="35" data-speed="1000">0</span><i>+</i></div></div>
                            <div class="fact-title">expert chef</div>
                        </div>
                    </div>
                    <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner clearfix">
                            <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="10" data-speed="1000">0</span><i>+</i></div></div>
                            <div class="fact-title">awards won</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Fluid Section-->
    <section class="fluid-section">
        <div class="outer-container">
            <div class="row clearfix">
                <!--Col-->
                <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="image-layer" style="background-image: url(images/background/image-5.jpg);"></div>
                        <div class="image"><img src="images/background/image-5.jpg" alt=""></div>
                    </div>
                </div>
                <!--Col-->
                <div class="content-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="right-bg"><img src="images/background/bg-12.png" alt="" title=""></div>
                    <div class="inner clearfix wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="content-box">
                            <div class="title-box centered">
                                <div class="subtitle"><span>35 year of experience</span></div>
                                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                                <h2>Award Winning Chef</h2>
                                <div class="text">Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type.</div>
                            </div>
                            <div class="info">
                                <div class="signature"><img src="images/resource/signature-2.png" alt="" title=""></div>
                                <div class="author">Henry - EXCUTIVE CHEF</div>
                            </div>
                            <div class="link-box">
                                <a href="our-chef.html" class="theme-btn btn-style-two clearfix">
                                    <span class="btn-wrap">
                                        <span class="text-one">meet our team</span>
                                        <span class="text-two">meet our team</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Fluid Section-->
    <section class="fluid-section alternate">
        <div class="outer-container">
            <div class="row clearfix">
                <!--Col-->
                <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="image-layer" style="background-image: url(images/background/image-6.jpg);"></div>
                        <div class="image"><img src="images/background/image-6.jpg" alt=""></div>
                    </div>
                </div>
                <!--Col-->
                <div class="content-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="left-bg"><img src="images/background/bg-13.png" alt="" title=""></div>
                    <div class="inner clearfix wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="content-box">
                            <div class="title-box centered">
                                <div class="subtitle"><span>Delightful Experience</span></div>
                                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                                <h2>Dinner, Event or Party?</h2>
                                <div class="text">Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type.</div>
                            </div>
                            <div class="link-box">
                                <a href="menu-list-1.html" class="theme-btn btn-style-two clearfix">
                                    <span class="btn-wrap">
                                        <span class="text-one">Discover Now</span>
                                        <span class="text-two">Discover Now</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Services Section-->
    <section class="services-section">
        <div class="left-bg"><img src="images/background/bg-14.png" alt="" title=""></div>
        <div class="right-bg"><img src="images/background/bg-15.png" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>our services</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h2>Exquisite Restaurant in City</h2>
            </div>
            <div class="row clearfix">
                <div class="s-col col-lg-4 col-md-6 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="s-block">
                            <div class="inner">
                                <div class="icon-box"><img src="images/resource/s-icon-1.png" alt="" title=""></div>
                                <h4>Door Delivery</h4>
                                <div class="text">Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been.</div>
                            </div>
                        </div>
                        <div class="s-block alternate">
                            <div class="inner">
                                <div class="icon-box"><img src="images/resource/s-icon-2.png" alt="" title=""></div>
                                <h4>Fine Dining</h4>
                                <div class="text">Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-col last col-lg-4 col-md-6 col-sm-12">
                    <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="s-block alternate">
                            <div class="inner">
                                <div class="icon-box"><img src="images/resource/s-icon-3.png" alt="" title=""></div>
                                <h4>Outdoor Catering</h4>
                                <div class="text">Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been.</div>
                            </div>
                        </div>
                        <div class="s-block">
                            <div class="inner">
                                <div class="icon-box"><img src="images/resource/s-icon-4.png" alt="" title=""></div>
                                <h4>Banquets Hall</h4>
                                <div class="text">Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-col col-lg-4 col-md-12 col-sm-12">
                    <div class="inner wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="image-box"><img src="images/resource/service-image.png" alt="" title=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Testimonials Section-->
    <section class="testimonials-two">
        <div class="image-layer" style="background-image: url(images/background/image-7.jpg);"></div>
        <div class="auto-container">
            
            <div class="title-box centered">
                <div class="subtitle"><span>testimonials</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h2>What People Are Saying</h2>
            </div>
            <div class="carousel-box">
                <div class="testimonial-slider owl-theme owl-carousel">
                    <!--Slide Item-->
                    <div class="testi-block">
                        <div class="inner-box">
                            <div class="quote-icon"><img src="images/icons/quotes-1.png" alt="" title=""></div>
                            <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="text">The taste of food was really amazing, Wow ! outstanding dinner made by Mater chef John Rute, I never forget this delicious food experience.</div>
                            <div class="auth-info">
                                <div class="image"><img src="images/resource/author-thumb-4.jpg" alt=""></div>
                                <div class="auth-title">willium joe</div>
                                <div class="location">New York</div>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="testi-block">
                        <div class="inner-box">
                            <div class="quote-icon"><img src="images/icons/quotes-1.png" alt="" title=""></div>
                            <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="text">Hygienic food & fresh enviroment, everyone had a wonderful delite experience. It was FABULOUS! great experience at The Italian gourmet.</div>
                            <div class="auth-info">
                                <div class="image"><img src="images/resource/author-thumb-5.jpg" alt=""></div>
                                <div class="auth-title">Theresa Tin</div>
                                <div class="location">Chicago</div>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="testi-block">
                        <div class="inner-box">
                            <div class="quote-icon"><img src="images/icons/quotes-1.png" alt="" title=""></div>
                            <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="text">Special treat to dine, It was wow experience food was really delicious! outstanding dinner made by Mater chef, food experience was unfogetable!</div>
                            <div class="auth-info">
                                <div class="image"><img src="images/resource/author-thumb-6.jpg" alt=""></div>
                                <div class="auth-title">Michel Byrd</div>
                                <div class="location">Denmark</div>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="testi-block">
                        <div class="inner-box">
                            <div class="quote-icon"><img src="images/icons/quotes-1.png" alt="" title=""></div>
                            <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="text">The taste of food was really amazing, Wow ! outstanding dinner made by Mater chef John Rute, I never forget this delicious food experience.</div>
                            <div class="auth-info">
                                <div class="image"><img src="images/resource/author-thumb-4.jpg" alt=""></div>
                                <div class="auth-title">willium joe</div>
                                <div class="location">New York</div>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="testi-block">
                        <div class="inner-box">
                            <div class="quote-icon"><img src="images/icons/quotes-1.png" alt="" title=""></div>
                            <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="text">Hygienic food & fresh enviroment, everyone had a wonderful delite experience. It was FABULOUS! great experience at The Italian gourmet.</div>
                            <div class="auth-info">
                                <div class="image"><img src="images/resource/author-thumb-5.jpg" alt=""></div>
                                <div class="auth-title">Theresa Tin</div>
                                <div class="location">Chicago</div>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="testi-block">
                        <div class="inner-box">
                            <div class="quote-icon"><img src="images/icons/quotes-1.png" alt="" title=""></div>
                            <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="text">Special treat to dine, It was wow experience food was really delicious! outstanding dinner made by Mater chef, food experience was unfogetable!</div>
                            <div class="auth-info">
                                <div class="image"><img src="images/resource/author-thumb-6.jpg" alt=""></div>
                                <div class="auth-title">Michel Byrd</div>
                                <div class="location">Denmark</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--Why Us Section-->
    <section class="why-us-two">
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>why choose us</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h2>Our Strength</h2>
            </div>
            <div class="row clearfix">
                <!--Block-->
                <div class="why-block-two col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="image-box"><img src="images/resource/featured-4.jpg" alt=""></div>
                        <div class="over-box">
                            <div class="icon-box"><img src="images/resource/why-icon-1.png" alt=""></div>
                            <h4>Hygienic Food</h4>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="why-block-two m-top col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <div class="image-box"><img src="images/resource/featured-5.jpg" alt=""></div>
                        <div class="over-box">
                            <div class="icon-box"><img src="images/resource/why-icon-2.png" alt=""></div>
                            <h4>Fresh Environment</h4>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="why-block-two col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                        <div class="image-box"><img src="images/resource/featured-6.jpg" alt=""></div>
                        <div class="over-box">
                            <div class="icon-box"><img src="images/resource/why-icon-3.png" alt=""></div>
                            <h4>Skilled Chefs</h4>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="why-block-two m-top col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="900ms">
                        <div class="image-box"><img src="images/resource/featured-7.jpg" alt=""></div>
                        <div class="over-box">
                            <div class="icon-box"><img src="images/resource/why-icon-4.png" alt=""></div>
                            <h4>Event & Party</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Gallery Section-->
    <section class="image-gallery">
        <div class="carousel-box">
            <div class="auto-container">
                <div class="image-gallery-slider owl-theme owl-carousel">
                    <!--Slide Item-->
                    <div class="gallery-block">
                        <div class="image"><a href="images/resource/gallery-1.jpg" class="lightbox-image" data-fancybox="gallery"><img src="images/resource/gallery-1.jpg" alt=""></a></div>
                    </div>

                    <!--Slide Item-->
                    <div class="gallery-block">
                        <div class="image"><a href="images/resource/gallery-2.jpg" class="lightbox-image" data-fancybox="gallery"><img src="images/resource/gallery-2.jpg" alt=""></a></div>
                    </div>

                    <!--Slide Item-->
                    <div class="gallery-block">
                        <div class="image"><a href="images/resource/gallery-3.jpg" class="lightbox-image" data-fancybox="gallery"><img src="images/resource/gallery-3.jpg" alt=""></a></div>
                    </div>

                    <!--Slide Item-->
                    <div class="gallery-block">
                        <div class="image"><a href="images/resource/gallery-1.jpg" class="lightbox-image" data-fancybox="gallery"><img src="images/resource/gallery-1.jpg" alt=""></a></div>
                    </div>

                    <!--Slide Item-->
                    <div class="gallery-block">
                        <div class="image"><a href="images/resource/gallery-2.jpg" class="lightbox-image" data-fancybox="gallery"><img src="images/resource/gallery-2.jpg" alt=""></a></div>
                    </div>

                    <!--Slide Item-->
                    <div class="gallery-block">
                        <div class="image"><a href="images/resource/gallery-3.jpg" class="lightbox-image" data-fancybox="gallery"><img src="images/resource/gallery-3.jpg" alt=""></a></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--Main Footer-->
    <footer class="main-footer">
        <div class="image-layer" style="background-image: url(images/background/image-4.jpg);"></div>
        <div class="upper-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Footer Col-->
                    <div class="footer-col info-col col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="content">
                                <div class="logo"><a href="index.html" title="Delici - Restaurants HTML Template"><img src="images/logo.png" alt="" title="Delici - Restaurants HTML Template"></a></div>
                                <div class="info">
                                    <ul>
                                        <li>Restaurant St, Delicious City, London 9578, UK</li>
                                        <li><a href="mailto:booking@domainname.com">booking@domainname.com</a></li>
                                        <li><a href="tel:+88-123-123456">Booking Request : +88-123-123456</a></li>
                                        <li>Open : 09:00 am - 01:00 pm</li>
                                    </ul>
                                </div>
                                <div class="separator"><span></span><span></span><span></span></div>
                                <div class="newsletter">
                                    <h3>Get News & Offers</h3>
                                    <div class="text">Subscribe us & Get <span>25% Off.</span></div>
                                    <div class="newsletter-form">
                                        <form method="post" action="index.html">
                                            <div class="form-group">
                                                <span class="alt-icon far fa-envelope"></span>
                                                <input type="email" name="email" value="" placeholder="Your email" required>
                                                <button type="submit" class="theme-btn btn-style-one clearfix">
                                                    <span class="btn-wrap">
                                                        <span class="text-one">subscribe</span>
                                                        <span class="text-two">subscribe</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Footer Col-->
                    <div class="footer-col links-col col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="links">
                                <li><a href="home.html">Home</a></li>
                                <li><a href="menu-list-1.html">Menus</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="our-chef.html">Our chefs</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Footer Col-->
                    <div class="footer-col links-col last col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="links">
                                <li><a href="#">facebook</a></li>
                                <li><a href="#">instagram</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Youtube</a></li>
                                <li><a href="#">Google map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="copyright">&copy; 2022 Restaurt. All Rights Reserved   |    Crafted by <a href="https://themeforest.net/user/kalanidhithemes" target="blank">Kalanidhi Themes</a></div>
            </div>
        </div>
    </footer>

</div>
<!--End pagewrapper--> 

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/swiper.js"></script>
<script src="js/owl.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom-script.js"></script>
</body>
</html>