
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Delici - Restaurants HTML Template - Menus List</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]--> 

</head>

<body>
  <div class="page-wrapper"> 
  
    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="D" class="letters-loading">
                            D
                        </span>
                        <span data-text-preloader="E" class="letters-loading">
                            E
                        </span>
                        <span data-text-preloader="L" class="letters-loading">
                            L
                        </span>
                        <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                        <span data-text-preloader="C" class="letters-loading">
                            C
                        </span>
                        <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Header-->
    <header class="main-header">
        <div class="header-top">
            <div class="auto-container">
                <div class="inner clearfix">
                    <div class="top-left clearfix">
                        <ul class="top-info clearfix">
                            <li><i class="icon far fa-map-marker-alt"></i> Restaurant St, Delicious City, London 9578, UK</li>
                            <li><i class="icon far fa-clock"></i> Daily : 8.00 am to 10.00 pm</li>
                        </ul>
                    </div>
                    <div class="top-right clearfix">
                        <ul class="top-info clearfix">
                            <li><a href="tel:+11234567890"><i class="icon far fa-phone"></i> +1 123 456 7890</a></li>
                            <li><a href="mailto:booking@restaurant.com"><i class="icon far fa-envelope"></i> booking@restaurant.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Upper -->
        <div class="header-upper">        
            <div class="auto-container">
                <!-- Main Box -->
                <div class="main-box clearfix">
                    <!--Logo-->
                    <div class="logo-box">
                         <div class="logo"><a href="index.html" title="Delici - Restaurants HTML Template"><img src="images/logo.png" alt="" title="Delici - Restaurants HTML Template"></a></div>
                    </div>

                    <div class="nav-box clearfix">
                        <!--Nav Outer-->
                        <div class="nav-outer clearfix">         
                            <nav class="main-menu">
                                <ul class="navigation clearfix">
                                    <li class=""><a href="index.html">Home</a>
                                    </li>
                                    <li class="current dropdown has-mega-menu"><a href="menu-list.html">Menus</a>
                                        <ul>
                                            <li>
                                                <div class="mega-menu">
                                                    <div class="menu-inner">
                                                        <div class="auto-container">
                                                            <div class="row clearfix">
                                                                <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                    <div class="image"><a href="menu-list-1.html"><img src="images/resource/menu-image-1.jpg" alt=""></a></div>
                                                                    <div class="title"><a href="menu-list-1.html">Menu list 1</a></div>
                                                                </div>
                                                                <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                    <div class="image"><a href="menu-list-2.html"><img src="images/resource/menu-image-2.jpg" alt=""></a></div>
                                                                    <div class="title"><a href="menu-list-2.html">Menu list 2</a></div>
                                                                </div>
                                                                <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                    <div class="image"><a href="menu-list-3.html"><img src="images/resource/menu-image-3.jpg" alt=""></a></div>
                                                                    <div class="title"><a href="menu-list-3.html">Menu list 3</a></div>
                                                                </div>
                                                                <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                    <div class="image"><a href="menu-list-4.html"><img src="images/resource/menu-image-4.jpg" alt=""></a></div>
                                                                    <div class="title"><a href="menu-list-4.html">Menu list 4</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="our-chef.html">Our chefs</a></li>
                                    <li class="dropdown"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="#">Dropdown Menu 1</a></li>
                                            <li><a href="#">Dropdown Menu 2</a></li>
                                            <li><a href="#">Dropdown Menu 3</a></li>
                                            <li class="dropdown"><a href="#">Dropdown Menu 4</a>
                                                <ul>
                                                    <li><a href="#">Dropdown Menu level 2</a></li>
                                                    <li><a href="#">Dropdown Menu level 2</a></li>
                                                    <li><a href="#">Dropdown Menu Level 3</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Dropdown Lorem 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- Main Menu End-->
                        </div>
                        <!--Nav Outer End-->

                        <div class="links-box clearfix">
                            <div class="link link-btn">
                                <a href="reservation-opentable.html" class="theme-btn btn-style-one clearfix">
                                    <span class="btn-wrap">
                                        <span class="text-one">find a table</span>
                                        <span class="text-two">find a table</span>
                                    </span>
                                </a>
                            </div>
                            <div class="link info-toggler">
                                <button class="info-btn">
                                    <span class="hamburger">
                                        <span class="top-bun"></span>
                                        <span class="meat"></span>
                                        <span class="bottom-bun"></span>
                                    </span>
                                </button>
                            </div>
                        </div>

                        <!-- Hidden Nav Toggler -->
                        <div class="nav-toggler">
                            <button class="hidden-bar-opener">
                                <span class="hamburger">
                                    <span class="top-bun"></span>
                                    <span class="meat"></span>
                                    <span class="bottom-bun"></span>
                                </span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>
    <!--End Main Header -->

    
    <!--Menu Backdrop-->
    <div class="menu-backdrop"></div>

    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar">
        <!-- Hidden Bar Wrapper -->
        <div class="inner-box">
            <div class="cross-icon hidden-bar-closer"><span class="far fa-close"></span></div>
            <div class="logo-box"><a href="index.html" title="Delici - Restaurants HTML Template"><img src="images/resource/sidebar-logo.png" alt="" title="Delici - Restaurants HTML Template"></a></div>
            
            <!-- .Side-menu -->
            <div class="side-menu">
                 <ul class="navigation clearfix">
                    <li class=""><a href="index.html">Home</a>
                    </li>
                    <li class="current dropdown"><a href="menu-list.html">Menus</a>
                        <ul>
                            <li><a href="menu-list-1.html">Menu List 1</a></li>
                            <li><a href="menu-list-2.html">Menu List 2</a></li>
                            <li><a href="menu-list-3.html">Menu List 3</a></li>
                            <li><a href="menu-list-4.html">Menu List 4</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="our-chef.html">Our chefs</a></li>
                    <li class="dropdown"><a href="#">Pages</a>
                        <ul>
                            <li><a href="#">Dropdown Menu 1</a></li>
                            <li><a href="#">Dropdown Menu 2</a></li>
                            <li><a href="#">Dropdown Menu 3</a></li>
                            <li class="dropdown"><a href="#">Dropdown Menu 4</a>
                                <ul>
                                    <li><a href="#">Dropdown Menu level 2</a></li>
                                    <li><a href="#">Dropdown Menu level 2</a></li>
                                    <li><a href="#">Dropdown Menu Level 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown Lorem 5</a></li>
                        </ul>
                    </li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
            </div><!-- /.Side-menu -->
            
            <h2>Visit Us</h2>
            <ul class="info">
                <li>Restaurant St, Delicious City, <br>London 9578, UK</li>
                <li>Open: 9.30 am - 2.30pm</li>
                <li><a href="mailto:booking@domainame.com">booking@domainame.com</a></li>
            </ul>
            <div class="separator"><span></span></div>
            <div class="booking-info">
                <div class="bk-title">Booking request</div>
                <div class="bk-no"><a href="tel:+88-123-123456">+88-123-123456</a></div>
            </div>
        
        </div><!-- / Hidden Bar Wrapper -->
    </section>
    <!-- / Hidden Bar -->

    <!--Info Back Drop-->
    <div class="info-back-drop"></div>
    
    <!-- Hidden Bar -->
    <section class="info-bar">
        <div class="inner-box">
            <div class="cross-icon"><span class="far fa-close"></span></div>
            <div class="logo-box"><a href="index.html" title="Delici - Restaurants HTML Template"><img src="images/resource/sidebar-logo.png" alt="" title="Delici - Restaurants HTML Template"></a></div>
            <div class="image-box"><img src="images/resource/sidebar-image.jpg" alt="" title=""></div>

            <h2>Visit Us</h2>
            <ul class="info">
                <li>Restaurant St, Delicious City, <br>London 9578, UK</li>
                <li>Open: 9.30 am - 2.30pm</li>
                <li><a href="mailto:booking@domainame.com">booking@domainame.com</a></li>
            </ul>
            <div class="separator"><span></span></div>
            <div class="booking-info">
                <div class="bk-title">Booking request</div>
                <div class="bk-no"><a href="tel:+88-123-123456">+88-123-123456</a></div>
            </div>
        </div>
    </section>
    <!--End Hidden Bar -->

    <!-- Inner Banner Section -->
    <section class="inner-banner">
        <div class="image-layer" style="background-image: url(images/background/banner-image-2.jpg);"></div>
        <div class="auto-container">
            <div class="inner">
                <div class="subtitle"><span>delicious & amazing</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h1><span>Our Menu</span></h1>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!--Menu Section-->
    <section class="menu-one">
        <div class="right-bg"><img src="images/background/bg-16.png" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>STARTER MENU</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h2>Appetizers</h2>
            </div>

            <div class="row clearfix">
                <div class="image-col col-lg-7 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="image"><img src="images/resource/menus-1.jpg" alt=""></div>
                    </div>
                </div>
                <div class="menu-col col-lg-5 col-md-12 col-sm-12">
                    <div class="inner">
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Greek Salad</a></h5></div><div class="price"><span>$25.50</span></div></div>
                                <div class="text desc"><a href="#">Tomatoes, green bell pepper, sliced cucumber onion, olives, and feta cheese.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Lasagne <span class="s-info">SEASONAL</span></a></h5></div><div class="price"><span>$40.00</span></div></div>
                                <div class="text desc"><a href="#">Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Butternut Pumpkin</a></h5></div><div class="price"><span>$10.00</span></div></div>
                                <div class="text desc"><a href="#">Typesetting industry lorem Lorem Ipsum is simply dummy text of the priand.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Tokusen Wagyu <span class="s-info">NEW</span></a></h5></div><div class="price"><span>$39.00</span></div></div>
                                <div class="text desc"><a href="#">Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices.</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Menu Section-->
    <section class="menu-one alternate">
        <div class="left-bg"><img src="images/background/bg-17.png" alt="" title=""></div>
        <div class="right-bg-2"><img src="images/background/bg-18.png" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>RESERVATIONS</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h2>Main Dishes</h2>
            </div>

            <div class="row clearfix">
                <div class="image-col col-lg-7 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="image"><img src="images/resource/menus-2.jpg" alt=""></div>
                    </div>
                </div>
                <div class="menu-col col-lg-5 col-md-12 col-sm-12">
                    <div class="inner">
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Greek Salad</a></h5></div><div class="price"><span>$25.50</span></div></div>
                                <div class="text desc"><a href="#">Tomatoes, green bell pepper, sliced cucumber onion, olives, and feta cheese.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Lasagne <span class="s-info">SEASONAL</span></a></h5></div><div class="price"><span>$40.00</span></div></div>
                                <div class="text desc"><a href="#">Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Butternut Pumpkin</a></h5></div><div class="price"><span>$10.00</span></div></div>
                                <div class="text desc"><a href="#">Typesetting industry lorem Lorem Ipsum is simply dummy text of the priand.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Tokusen Wagyu <span class="s-info">NEW</span></a></h5></div><div class="price"><span>$39.00</span></div></div>
                                <div class="text desc"><a href="#">Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices.</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Special Offer Section-->
    <section class="special-offer-two">
        <div class="left-bg"><img src="images/background/bg-20.png" alt="" title=""></div>
        <div class="right-bg"><img src="images/background/bg-19.png" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>special offer</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h2>Best Special Menu</h2>
            </div>
            <div class="row clearfix">
                <!--Item-->
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="image"><a href="#"><img src="images/resource/menu-image-11.jpg" alt=""></a></div>
                        <h4><a href="menu-list.html">Greek Salad</a></h4>
                        <div class="text desc">Avocados with crab meat, red onion, crab salad red bell pepper...</div>
                        <div class="price">$39.00</div>
                    </div>
                </div>

                <!--Item-->
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="image"><a href="#"><img src="images/resource/menu-image-12.jpg" alt=""></a></div>
                        <h4><a href="menu-list.html">Tokusen Wagyu</a></h4>
                        <div class="text desc">Tomatoes, green bell pepper, sliced cucumber onion, olives...</div>
                        <div class="price">$45.00</div>
                    </div>
                </div>

                <!--Item-->
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                        <div class="image"><a href="#"><img src="images/resource/menu-image-13.jpg" alt=""></a></div>
                        <h4><a href="menu-list.html">Butternut Pumpkin</a></h4>
                        <div class="text desc">Avocados with crab meat, red onion, crab salad stuffed bell pepper...</div>
                        <div class="price">$15.00</div>
                    </div>
                </div>

                <!--Item-->
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                        <div class="image"><a href="#"><img src="images/resource/menu-image-14.jpg" alt=""></a></div>
                        <h4><a href="menu-list.html">Opu Fish</a></h4>
                        <div class="text desc">Vegetables, cheeses, ground meats, tomato sauce, seasonings...</div>
                        <div class="price">$12.00</div>
                    </div>
                </div>

                <!--Item-->
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="image"><a href="#"><img src="images/resource/menu-image-15.jpg" alt=""></a></div>
                        <h4><a href="menu-list.html">Greek Salad</a></h4>
                        <div class="text desc">Avocados with crab meat, red onion, crab salad red bell pepper...</div>
                        <div class="price">$39.00</div>
                    </div>
                </div>

                <!--Item-->
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="image"><a href="#"><img src="images/resource/menu-image-16.jpg" alt=""></a></div>
                        <h4><a href="menu-list.html">Tokusen Wagyu</a></h4>
                        <div class="text desc">Tomatoes, green bell pepper, sliced cucumber onion, olives...</div>
                        <div class="price">$45.00</div>
                    </div>
                </div>

                <!--Item-->
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                        <div class="image"><a href="#"><img src="images/resource/menu-image-17.jpg" alt=""></a></div>
                        <h4><a href="menu-list.html">Butternut Pumpkin</a></h4>
                        <div class="text desc">Avocados with crab meat, red onion, crab salad stuffed bell pepper...</div>
                        <div class="price">$15.00</div>
                    </div>
                </div>

                <!--Item-->
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                        <div class="image"><a href="#"><img src="images/resource/menu-image-18.jpg" alt=""></a></div>
                        <h4><a href="menu-list.html">Opu Fish</a></h4>
                        <div class="text desc">Vegetables, cheeses, ground meats, tomato sauce, seasonings...</div>
                        <div class="price">$12.00</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Chef Selection Section-->
    <section class="chef-selection">
        <div class="auto-container">
            <div class="outer-container">
                <div class="row clearfix">
                    <!--Col-->
                    <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                            <div class="image-layer" style="background-image: url(images/background/image-8.jpg);"></div>
                            <div class="image"><img src="images/background/image-8.jpg" alt=""></div>
                        </div>
                    </div>
                    <!--Col-->
                    <div class="content-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                            <div class="title-box">
                                <span class="badge-icon"><img src="images/resource/badge-2.png" alt="" title=""></span>
                                <div class="subtitle"><span>chef selection</span></div>
                                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                                <h3>Lobster Tortellini</h3>
                                <div class="text">Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the industrys standard dummy text ever since.</div>
                            </div>
                            <div class="price"><span class="old">$40.00</span> <span class="new">$20.00</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--Menu Section-->
    <section class="menu-two">
        <div class="left-bg"><img src="images/background/bg-20.png" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>RESERVATIONS</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h2>List Menu</h2>
            </div>
            <div class="row clearfix">
                <div class="menu-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="dish-image"><a href="#"><img src="images/resource/menu-image-5.png" alt=""></a></div>
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Greek Salad</a></h5></div><div class="price"><span>$25.50</span></div></div>
                                <div class="text desc"><a href="#">Tomatoes, green bell pepper, sliced cucumber onion, olives, and feta cheese.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="dish-image"><a href="#"><img src="images/resource/menu-image-6.png" alt=""></a></div>
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Lasagne <span class="s-info">SEASONAL</span></a></h5></div><div class="price"><span>$40.00</span></div></div>
                                <div class="text desc"><a href="#">Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="dish-image"><a href="#"><img src="images/resource/menu-image-7.png" alt=""></a></div>
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Butternut Pumpkin</a></h5></div><div class="price"><span>$10.00</span></div></div>
                                <div class="text desc"><a href="#">Typesetting industry lorem Lorem Ipsum is simply dummy text of the priand.</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="dish-image"><a href="#"><img src="images/resource/menu-image-8.png" alt=""></a></div>
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Tokusen Wagyu <span class="s-info">NEW</span></a></h5></div><div class="price"><span>$39.00</span></div></div>
                                <div class="text desc"><a href="#">Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="dish-image"><a href="#"><img src="images/resource/menu-image-9.png" alt=""></a></div>
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Olivas Rellenas</a></h5></div><div class="price"><span>$25.00</span></div></div>
                                <div class="text desc"><a href="#">Avocados with crab meat, red onion, crab salad stuffed red bell pepper and  green bell pepper.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="dish-image"><a href="#"><img src="images/resource/menu-image-10.png" alt=""></a></div>
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="#">Opu Fish</a></h5></div><div class="price"><span>$49.00</span></div></div>
                                <div class="text desc"><a href="#">Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Featured Section-->
    <section class="featured-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="text-col col-lg-5 col-md-12 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <!--Block-->
                        <div class="content">
                            <div class="content-inner">
                                <h2>Private Events</h2>
                                <div class="text">Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been the industrys.</div>
                                <div class="separator"><span></span></div>
                                <div class="booking-info">
                                    <div class="bk-title">Booking request</div>
                                    <div class="bk-no"><a href="tel:+88-123-123456">+88-123-123456</a></div>
                                </div>
                                <div class="link-box">
                                    <a href="reservation-opentable.html" class="theme-btn btn-style-one clearfix">
                                        <span class="btn-wrap">
                                            <span class="text-one">Book Now</span>
                                            <span class="text-two">Book Now</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="image-col col-lg-7 col-md-12 col-sm-12">
                    <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="row clearfix">
                            <div class="img-col col-lg-6 col-md-6 col-sm-6"><div class="image"><img src="images/resource/featured-8.jpg" alt=""></div></div>
                            <div class="img-col col-lg-6 col-md-6 col-sm-6"><div class="image"><img src="images/resource/featured-9.jpg" alt=""></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Featured Section-->
    <section class="featured-section alternate">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="text-col col-lg-5 col-md-12 col-sm-12">
                    <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <!--Block-->
                        <div class="content">
                            <div class="content-inner">
                                <h2>Banquet Hall</h2>
                                <div class="text">Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been the industrys.</div>
                                <div class="separator"><span></span></div>
                                <div class="booking-info">
                                    <div class="bk-title">Booking request</div>
                                    <div class="bk-no"><a href="tel:+88-123-123456">+88-123-123456</a></div>
                                </div>
                                <div class="link-box">
                                    <a href="reservation-opentable.html" class="theme-btn btn-style-one clearfix">
                                        <span class="btn-wrap">
                                            <span class="text-one">Book Now</span>
                                            <span class="text-two">Book Now</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="image-col col-lg-7 col-md-12 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="row clearfix">
                            <div class="img-col col-lg-6 col-md-6 col-sm-6"><div class="image"><img src="images/resource/featured-10.jpg" alt=""></div></div>
                            <div class="img-col col-lg-6 col-md-6 col-sm-6"><div class="image"><img src="images/resource/featured-11.jpg" alt=""></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Online Reservation Section-->
    <section class="online-reservation">
        <div class="image-layer" style="background-image: url(images/background/image-9.jpg);"></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>special offer</span></div>
                <div class="pattern-image"><img src="images/icons/separator.svg" alt="" title=""></div>
                <h2>Online Reservation</h2>
                <div class="text request-info">Booking request <a href="#">+88-123-123456</a> or fill out the order form</div>
            </div>
            <div class="default-form reservation-form">
                <form method="post" action="index.html">
                    <div class="row clearfix">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <div class="field-inner">
                                <span class="alt-icon far fa-user"></span>
                                <select class="l-icon">
                                    <option>1 Person</option>
                                    <option>2 Person</option>
                                    <option>3 Person</option>
                                    <option>4 Person</option>
                                    <option>5 Person</option>
                                    <option>6 Person</option>
                                    <option>7 Person</option>
                                </select>
                                <span class="arrow-icon far fa-angle-down"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <div class="field-inner">
                                <span class="alt-icon far fa-calendar"></span>
                                <input class="l-icon datepicker" type="text" name="fieldname" value="" placeholder="DD-MM-YYYY" required readonly>
                                <span class="arrow-icon far fa-angle-down"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-12 col-sm-12">
                            <div class="field-inner">
                                <span class="alt-icon far fa-clock"></span>
                                <select class="l-icon">
                                    <option>08 : 00 am</option>
                                    <option>09 : 00 am</option>
                                    <option>10 : 00 am</option>
                                    <option>11 : 00 am</option>
                                    <option>12 : 00 pm</option>
                                    <option>01 : 00 pm</option>
                                    <option>02 : 00 pm</option>
                                    <option>03 : 00 pm</option>
                                    <option>04 : 00 pm</option>
                                    <option>05 : 00 pm</option>
                                    <option>06 : 00 pm</option>
                                    <option>07 : 00 pm</option>
                                    <option>08 : 00 pm</option>
                                    <option>09 : 00 pm</option>
                                    <option>10 : 00 pm</option>
                                </select>
                                <span class="arrow-icon far fa-angle-down"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="theme-btn btn-style-one clearfix">
                        <span class="btn-wrap">
                            <span class="text-one">book a table</span>
                            <span class="text-two">book a table</span>
                        </span>
                    </button>
                </form>
                <div class="powered-by">*Powered by OpenTable</div>
            </div>
        </div>
    </section>

    <!--Reservation Section-->
    <section class="reserve-section style-two">
        <div class="image-layer" style="background-image: url(images/background/image-10.jpg);"></div>
        <div class="auto-container">
            <div class="outer-box">
                <div class="row clearfix">
                    <div class="reserv-col col-lg-8 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="title">
                                <h2>Online Reservation</h2>
                                <div class="request-info">Booking request <a href="#">+88-123-123456</a> or fill out the order form</div>
                            </div>
                            <div class="default-form reservation-form">
                                <form method="post" action="index.html">
                                    <div class="row clearfix">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <input type="text" name="fieldname" value="" placeholder="Your Name" required>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <input type="text" name="fieldname" value="" placeholder="Phone Number" required>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <span class="alt-icon far fa-user"></span>
                                                <select class="l-icon">
                                                    <option>1 Person</option>
                                                    <option>2 Person</option>
                                                    <option>3 Person</option>
                                                    <option>4 Person</option>
                                                    <option>5 Person</option>
                                                    <option>6 Person</option>
                                                    <option>7 Person</option>
                                                </select>
                                                <span class="arrow-icon far fa-angle-down"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <span class="alt-icon far fa-calendar"></span>
                                                <input class="l-icon datepicker" type="text" name="fieldname" value="" placeholder="DD-MM-YYYY" required readonly>
                                                <span class="arrow-icon far fa-angle-down"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-12 col-sm-12">
                                            <div class="field-inner">
                                                <span class="alt-icon far fa-clock"></span>
                                                <select class="l-icon">
                                                    <option>08 : 00 am</option>
                                                    <option>09 : 00 am</option>
                                                    <option>10 : 00 am</option>
                                                    <option>11 : 00 am</option>
                                                    <option>12 : 00 pm</option>
                                                    <option>01 : 00 pm</option>
                                                    <option>02 : 00 pm</option>
                                                    <option>03 : 00 pm</option>
                                                    <option>04 : 00 pm</option>
                                                    <option>05 : 00 pm</option>
                                                    <option>06 : 00 pm</option>
                                                    <option>07 : 00 pm</option>
                                                    <option>08 : 00 pm</option>
                                                    <option>09 : 00 pm</option>
                                                    <option>10 : 00 pm</option>
                                                </select>
                                                <span class="arrow-icon far fa-angle-down"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-inner">
                                                <textarea name="fieldname" placeholder="Message" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-inner">
                                                <button type="submit" class="theme-btn btn-style-one clearfix">
                                                    <span class="btn-wrap">
                                                        <span class="text-one">book a table</span>
                                                        <span class="text-two">book a table</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="info-col col-lg-4 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="img-layer" style="background-image: url(images/background/image-11.jpg);"></div>
                            <div class="title">
                                <div class="subtitle">hot deal</div>
                                <h5>Lunch & Dinner Specials</h5>
                            </div>
                            <div class="data">
                                <div class="discount-info">
                                    <div class="s-ttl">up to</div>
                                    <div class="num">45%</div>
                                    <div class="s-ttl">discount</div>
                                </div>
                                <div class="instruction">
                                    • Not valid for online order <br>
                                    • Non-refundable <br>
                                    • Offer end on 25 Jan <br>
                                </div>
                                <div class="link-box">
                                    <a href="reservation-opentable.html" class="theme-btn btn-style-one clearfix">
                                        <span class="btn-wrap">
                                            <span class="text-one">book now</span>
                                            <span class="text-two">book now</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Main Footer-->
    <footer class="main-footer">
        <div class="image-layer" style="background-image: url(images/background/image-4.jpg);"></div>
        <div class="upper-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Footer Col-->
                    <div class="footer-col info-col col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="content">
                                <div class="logo"><a href="index.html" title="Delici - Restaurants HTML Template"><img src="images/logo.png" alt="" title="Delici - Restaurants HTML Template"></a></div>
                                <div class="info">
                                    <ul>
                                        <li>Restaurant St, Delicious City, London 9578, UK</li>
                                        <li><a href="mailto:booking@domainname.com">booking@domainname.com</a></li>
                                        <li><a href="tel:+88-123-123456">Booking Request : +88-123-123456</a></li>
                                        <li>Open : 09:00 am - 01:00 pm</li>
                                    </ul>
                                </div>
                                <div class="separator"><span></span><span></span><span></span></div>
                                <div class="newsletter">
                                    <h3>Get News & Offers</h3>
                                    <div class="text">Subscribe us & Get <span>25% Off.</span></div>
                                    <div class="newsletter-form">
                                        <form method="post" action="index.html">
                                            <div class="form-group">
                                                <span class="alt-icon far fa-envelope"></span>
                                                <input type="email" name="email" value="" placeholder="Your email" required>
                                                <button type="submit" class="theme-btn btn-style-one clearfix">
                                                    <span class="btn-wrap">
                                                        <span class="text-one">subscribe</span>
                                                        <span class="text-two">subscribe</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Footer Col-->
                    <div class="footer-col links-col col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="links">
                                <li><a href="home.html">Home</a></li>
                                <li><a href="menu-list-1.html">Menus</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="our-chef.html">Our chefs</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Footer Col-->
                    <div class="footer-col links-col last col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="links">
                                <li><a href="#">facebook</a></li>
                                <li><a href="#">instagram</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Youtube</a></li>
                                <li><a href="#">Google map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="copyright">&copy; 2022 Restaurt. All Rights Reserved   |    Crafted by <a href="https://themeforest.net/user/kalanidhithemes" target="blank">Kalanidhi Themes</a></div>
            </div>
        </div>
    </footer>

</div>
<!--End pagewrapper--> 

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/swiper.js"></script>
<script src="js/owl.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom-script.js"></script>
</body>
</html>